.home-header-border {
  position: relative;
  width: 100%;
  height: 92vh;
  background: url("../../assets/images/Hero/main.jpg") center/cover no-repeat;
}

.home-header-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #121212, rgba(0, 0, 0, 0));
}

.home-header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 6rem;
  background-color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.logo img {
  width: 18vh;
  height: auto;
}

.header-home-config ul {
  font-family: var(--primary-font);
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.header-home-config li {
  color: white;
  font-weight: 500;
}

.header-home-config ul li:last-child {
  color: rgba(255, 255, 255, 0.7);
}

.header-hero {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
}

.hero-text {
  font-family: var(--primary-font);
  color: rgb(253, 252, 252);
  font-weight: 550;
  font-size: 3rem;
  text-shadow: 10px 10px 10px rgb(117, 106, 106);
}
